html, body {
	overflow-x: hidden;
	padding-top: 0px !important;
}

.navbar {
	background: rgba(0,0,0,0.9);

	#logo-tagline-wrap {
		width: 266px;
	}

	.nav-item {
		@include desktop-up() {
			padding-left: 25px;
			padding-right: 25px;
			
			.dropdown-menu { 
				display: none; 
			}

			&:hover .dropdown-menu{ 
				display: block; 
			}
		}
	}
}

.c-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.block {
	margin-bottom: 120px;
}
