html, body {
	overflow-x: hidden;
	padding-top: 0px !important;
}

.navbar {
	background: rgba(0,0,0,0.9);

	#logo-tagline-wrap {
		width: 266px;
	}
}

.c-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.block {
	margin-bottom: 120px;
}

.c-section-header {
	.title,
	.subtitle {
		font-family: $font-family-sans-serif;
		color: $secondary;
	}

	.tagline {
		font-size: 48px;
		transform: translateY(70%);
		position: relative;
		z-index: 1;
		color: $primary;

		@include mobile-down {
			font-size: 32px;
		}
	}

	.title {
		font-weight: bold;
		font-size: 58px;
		line-height: 1.1;
		position: relative;
		z-index: 2;

		@include mobile-down {
			font-size: 36px;
		}
	}
}